@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: rgba(188, 235, 231, 0.4);
}

textarea {
  background: transparent;
  border: none;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: inset 0px 0px 9px 5px rgba(0,0,0,0.11);
  padding: 10px;
  resize: none;
  font-family: 'Permanent Marker', sans-serif;
  color: #000000;
}

.jumbotron {
  text-align: right;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.title {
  font-weight: 700;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: rgba(237, 245, 244);
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  font-weight: 700;
  color: white;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 50px;
  }
}